.footer {
    background: #000;
    padding: 25px 15px;
}

.footer__container-user {
    display: flex;
    flex-direction: column;
}

.footer__link-user {
    color: #006241;
    text-decoration: none;
    font-size: 20px;
}

.footer__container-social {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.footer__container-social i {
    color: #006241;
    font-size: 22px;
}

.footer__link-contact {
    text-decoration: none;
    color: #04a01b;
}

.footer {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1024px) {
    
    .footer {
        height: 250px;
        align-items: center;
    }
}
