.main__container-logo {
    display: none;
}

.main {
    padding: 15px 15px 60px;
    margin-top: 80px;
}

.main__title {
    font-size: 50px;
    line-height: 1.2;
}

.main__title, span {
    color: #006241;
}

.main__description {
    font-weight: bolder;
    margin-top: 20px;
}

.main__container-text {
    display: flex;
    flex-direction: column;
}

.main__container-logo {
    display: block;
}

.main__logo {
    width: 80px;
}

.main__container-text {
    width: 50%;
}

.main__container-logo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    padding: 15px 30px 60px;
}

@media (min-width: 1024px) {
    
    .main__logo {
        width: 350px;
    }

    .main {
        display: flex;
        padding: 15px 100px 60px;
    }

    .galeria__img {
        width: 300px;
        margin-top: 0;
        margin-left: 25px;
    }
}
